Source: ros-noetic-mpc-local-planner-msgs
Section: misc
Priority: optional
Maintainer: Christoph Rösmann <christoph.roesmann@tu-dortmund.de>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-catkin, ros-noetic-message-generation, ros-noetic-std-msgs
Homepage: http://wiki.ros.org/mpc_local_planner_msgs
Standards-Version: 3.9.2

Package: ros-noetic-mpc-local-planner-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-noetic-message-runtime, ros-noetic-std-msgs
Description: This package provides message types that are used by the package mpc_local_planner
